<h1>{{device.label}}</h1>

<h2>Output</h2>
{{#each device.output}}
  <div>
    {{label}}
    {{#if_eq type "switch"}}
      <input type="checkbox" checked class="js-checkbox" data-output-id="{{id}}" data-topic="{{../device._id}}/output/{{id}}/set">
    {{/if_eq}}
    {{#if_eq type "strip"}}
      <div class="strip input-group colorpicker-component" data-topic="{{../device._id}}/output/{{id}}/set">
          <input type="text" value="#00AABB" class="form-control" />
          <span class="input-group-addon"><i></i></span>
      </div>
    {{/if_eq}}
  </div>
{{/each}}

<h2>Input - Last week</h2>
{{#each device.input}}
  {{label}}
  <canvas class="chart" data-sensor="{{id}}"></canvas>
{{/each}}

<h2>Raw data</h2>
<a href="/device/{{device._id}}/raw">View here</a>

<script>
  var device = {{{json device}}};
  var data = {{{json data}}};
</script>
